<!-- file-uploader here -->
<file-uploader pad="{{$pad}}"></file-uploader>
{{capture append="vue_out"}}
    {{if !$comp_files_included}}
        {{var comp_files_included=true}}
        <script type="text/x-template" id="files-component-template">
            {{include file="db:_comp/files,files_vue"}}
        </script>
        {{script src="/mjs/comp-files/files.js" defer=1}}
        <script>
            emps_scripts.push(function(){
                EMPS.load_css('/mjs/comp-files/files.css');
            });

            {{if $lang == "en"}}
            var string_failed = "Can't upload: ";
            {{else}}
            var string_failed = "Невозможно загрузить: ";
            {{/if}}

        </script>

    {{/if}}
{{/capture}}