<block-template>
    <params>
        <param name="class" title="Panel class" type="c" default="content" />
        <param name="html" title="HTML" type="html">
        <default>
            {{if $lang == "en"}}
                <p>This is a sample HTML text!</p>
            {{else}}
                <p>Это пробный HTML текст!</p>
            {{/if}}
        </default>
        </param>
    </params>
    <block>
        <div add-class="class">
            <html param="html" />
        </div>
    </block>
</block-template>
